.table-wrapper {
    width: 1140px;
    height: 500px;

    margin: 0 auto;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.field {
    width: 315px;
    position: relative;
}

.line {
    position: relative;
}

.line::before {
    display: block;
    content: "";

    width: 302%;
    height: 3px;
    background-color: black;

    position: absolute;   
    top: 50%;
}

.horizon::before {
    transform: rotate(90deg);
    top: 154%;
    left: -100%;
}

.diagonal-main::before {
    transform: rotate(44deg);
    width: 428%;
    top: 153%;
    left: -58%;
}

.diagonal::before {
    transform: rotate(136deg);
    top: 154%;
    width: 428%;
    right: -59%;
}

.field td{
    width: 100px;
    height: 100px;
    border: 1px solid black;

    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

.field__min td{
    width: 50px;
    height: 50px;

    font-size: 30px;
}    

.select {
    background-color: blueviolet;
}

.select-size {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 80px;
    height: 30px;

    font-size: 20px;
}

.step {
    position: absolute;
    top: 60px;
    left: 10px;

    font-size: 20px;
}

.step span {
    width: 100%;
    display: block;

    text-align: center;
}

